<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url}}"> -->
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
<meta content='#{{ site.themeColor }}' name='theme-color'/>
<title>{{ site.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/styles.css?v=0.1' | relative_url}}">
{% if site.automaticTheme %}
  <link rel="stylesheet" href="{{ '/assets/css/lighttheme.css?v=0.1' | relative_url}}">
{% endif %}